::-webkit-scrollbar {
    width: 0px;
    z-index: 500;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    z-index: 800;
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 5px;
    z-index: 1000;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate {

    0%,
    100% {
        filter: hue-rotate(0deg)
    }

    50% {
        filter: hue-rotate(360deg);
    }
}

@keyframes appear{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

#progressbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(3px);
}

#progressbar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(5px);
}
